@import url(https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap);

body {
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans';
}

.container {
    border: 6px solid black;
    display: grid;
    grid-template-columns: 1fr 7fr;
    height: 100vh;
}

/* SIDEBAR */
.sidebar {
    border: 5px solid red;
}

div>.new-task-btn {
    justify-self: center;
}

.new-task-btn,
.new-project-btn {
    border: 2px solid orange;
    border-radius: 5px;
    background-color: orange;
}

nav>button {
    background: none;
    /* border: none; */
    cursor: pointer;
    margin: 2px;
}

nav>button:hover {
    opacity: 0.9;
    background-color: white;
}

.tasks-nav,
.projects-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* PAGE BODY */
.main-content {
    border: 5px solid green;
    display: grid;
    grid-template-rows: 0fr 1fr;
}

.header {
    border: 4px solid purple;
    text-align: center;
}

.tasks-container {
    border: 4px solid lightcoral;
    display: grid;
    grid-template-rows: 0fr 1fr;
}

.new-task-btn-container {
    border: 4px solid lightgreen;
    justify-self: center;
}

/* .tasks {
    border: 4px solid blue;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
} */
.tasks {
    border: 4px solid blue;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 5px;
}

.tasks>div {
    border: 3px solid yellow;
    border-radius: 10px;
    margin: 10px;

    display: flex;
    font-size: 18px;
    text-align: center;
    justify-content: space-around;
    padding: 15px;
    gap: 10px;
    box-shadow: 1px 1px 1px 1px lightgrey;
}

/* TODOS STYLING */


/* FORM STYLING */
dialog {
    margin: 0 auto;
    align-self: center;
    width: 20rem;
    border-radius: 10px;
}

dialog::backdrop {
    background-color: grey;
    opacity: 0.5;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    height: 2rem;
}


.date-container,
.project-container {
    display: flex;
}

.priority-container>p {
    margin: 0;
    padding: 0;
    display: inline;
}

.status-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.status-container>label,
.status-container>input {
    cursor: pointer;
}

.button-container {
    display: flex;
    flex-direction: column;
}

.button-container>button {
    border: 0px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    height: 3rem;
    cursor: pointer;
}

.button-container>button:hover {
    filter: brightness(1.1);
}

.button-container>button[class="submit-project-btn"],
.button-container>button[class="submit-task-btn"],
.cards>button[class="edit-task"] {
    background-color: lightgreen;
    margin-bottom: 15px;
}

.button-container>button[class="close-project-dialog"],
.button-container>button[class="close-task-dialog"],
.cards>button[class="delete-task"] {
    background-color: lightcoral;
}